<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1 - 1</key>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>MovingEnemyGenerationProbability</key>
		<integer>0</integer>
		<key>CollectableGenerationProbability</key>
		<real>0.08</real>
		<key>StaticEnemyGenerationProbability</key>
		<real>0.2</real>
		<key>Speed</key>
		<integer>40</integer>
	</dict>
	<key>1 - 2</key>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>MovingEnemyGenerationProbability</key>
		<integer>0</integer>
		<key>CollectableGenerationProbability</key>
		<real>0.08</real>
		<key>StaticEnemyGenerationProbability</key>
		<real>0.2</real>
		<key>Speed</key>
		<integer>45</integer>
	</dict>
	<key>1 - 3</key>
	<dict>
		<key>Duration</key>
		<integer>60</integer>
		<key>MovingEnemyGenerationProbability</key>
		<real>0.1</real>
		<key>CollectableGenerationProbability</key>
		<real>0.06</real>
		<key>StaticEnemyGenerationProbability</key>
		<real>0.25</real>
		<key>Speed</key>
		<integer>50</integer>
	</dict>
	<key>1 - 4</key>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>MovingEnemyGenerationProbability</key>
		<real>0.06</real>
		<key>CollectableGenerationProbability</key>
		<real>0.04</real>
		<key>StaticEnemyGenerationProbability</key>
		<real>0.08</real>
		<key>Speed</key>
		<integer>55</integer>
	</dict>
	<key>1 - 5</key>
	<dict>
		<key>Duration</key>
		<integer>90</integer>
		<key>MovingEnemyGenerationProbability</key>
		<real>0.06</real>
		<key>CollectableGenerationProbability</key>
		<real>0.04</real>
		<key>StaticEnemyGenerationProbability</key>
		<real>0.08</real>
		<key>Speed</key>
		<integer>60</integer>
	</dict>
</dict>
</plist>
